:root {
  --white: white;
  --black: black;
}

.body {
  background-color: #00280e;
}

.hero_wave_top {
  background-image: url('../images/hero_wave_top.svg');
  background-position: 50% 100%;
  background-repeat: repeat-x;
  background-size: auto 100%;
  height: 20%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.hero_wave_bottom {
  background-image: url('../images/hero_wave_bottom.svg');
  background-position: 50% 100%;
  background-repeat: repeat-x;
  background-size: auto 100%;
  height: 20%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.wave_bottom {
  z-index: 2;
  background-image: url('../images/hero_wave_small.svg');
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-attachment: scroll;
  height: 5%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.block_hero_chara {
  z-index: 1;
  height: 68%;
  margin-right: 50px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: auto;
}

.section_hero {
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  height: 100svh;
  display: flex;
  position: relative;
}

.main_chara {
  height: 100%;
}

.logo_hero {
  z-index: 1;
  margin-top: -120px;
  position: relative;
}

.hero_transition {
  background-color: #13a03b;
  height: 60px;
}

.splash_transition_hero {
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../images/hero_wave_transition.svg');
  background-position: 0 0;
  background-size: auto 100%;
  height: 120px;
  margin-bottom: 75px;
}

.transition_01 {
  flex-flow: column;
  width: 100%;
  display: flex;
}

.section_about {
  z-index: 5;
  background-color: #00280e;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.h1 {
  color: #75ff56;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  margin-top: 0;
  font-family: Super Ocean Personal Use, sans-serif;
  font-size: 100px;
  line-height: 100px;
}

.block_para {
  width: 650px;
  margin-top: 50px;
}

.para {
  color: #9ddd8e;
  text-align: center;
  margin-bottom: 0;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.block_skate {
  z-index: 2;
  background-color: #004b1a;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 200px;
  margin-top: 400px;
  display: flex;
  position: relative;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.chara_skate {
  height: 300%;
  margin-bottom: 50px;
}

.wave_about {
  background-image: url('../images/hero_wave_top.svg');
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: auto 100%;
  height: 30%;
  margin-bottom: 180px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: rotate(180deg);
}

.separator_about {
  background-color: #003011;
  width: 100%;
  height: 50px;
}

.section_tokenomics {
  background-color: #001005;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 800px;
  padding-top: 75px;
  display: flex;
  position: relative;
}

.tokenomics_block {
  z-index: 2;
  background-color: #00260b;
  border: 2px solid #095b21;
  border-top-width: 7px;
  border-radius: 20px 20px 0 0;
  flex-flow: column;
  width: 650px;
  height: auto;
  margin-top: 0;
  padding: 15px 15px 100px;
  display: flex;
  position: relative;
}

.tokenomics_block_in {
  background-color: #001506;
  border-radius: 20px;
  width: 100%;
  height: auto;
  padding: 15px 15px 0;
}

.tokenomics_details {
  background-color: #000d04;
  border: 2px solid #00310e;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  margin-bottom: 15px;
  display: flex;
}

.h2 {
  color: #60d682;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
}

.wave_tokenomics {
  z-index: 1;
  background-image: url('../images/waves_tokenomics.svg');
  background-position: 50% 100%;
  background-repeat: repeat-x;
  background-size: auto 100%;
  height: 90px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.wave_tokenomics_fg {
  z-index: 3;
  background-image: url('../images/wave_tokenomics_fg.svg');
  background-position: 50% 100%;
  background-repeat: repeat-x;
  background-size: auto;
  background-attachment: scroll;
  height: 25px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section_join {
  z-index: 10;
  background-color: #00280e;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.wave_token {
  background-image: url('../images/hero_wave_top.svg');
  background-position: 50% 100%;
  background-repeat: repeat-x;
  background-size: auto 100%;
  height: 50%;
  margin-bottom: 0;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: rotate(180deg);
}

.ca {
  color: #60d682;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Maladroit, sans-serif;
}

.button_buy {
  background-color: #004a15;
  border: 2px solid #000;
  border-bottom-width: 6px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 55px;
  padding: 0;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
  display: flex;
}

.button_buy:hover {
  background-color: #288442;
  border-top-width: 6px;
  border-bottom-width: 2px;
}

.transition_join {
  z-index: 20;
  background-color: #07aa2a;
  height: 40px;
  position: relative;
}

.join_wave {
  z-index: 2;
  background-image: url('../images/wave_join_top.svg');
  background-position: 50% 100%;
  background-repeat: repeat-x;
  background-size: auto 100%;
  width: 100%;
  height: 80px;
  margin-bottom: 75px;
  position: relative;
}

.join_wave_bg {
  z-index: 0;
  background-image: url('../images/wave_join_bg.svg');
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: auto 100%;
  width: 100%;
  height: 130px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.eyes {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.shine {
  z-index: 2;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.chara_joiner {
  z-index: 5;
  width: auto;
  height: 500px;
  margin-top: 50px;
  position: relative;
}

.chara_join {
  height: 100%;
}

.div-block {
  background-color: #001808;
  height: 250px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.button_socials {
  background-color: #004a15;
  border: 2px solid #000;
  border-bottom-width: 6px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  padding: 0;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
  display: flex;
}

.button_socials:hover {
  background-color: #288442;
  border-top-width: 6px;
  border-bottom-width: 2px;
}

.socials {
  margin-top: 35px;
}

.text-block {
  color: #9ddd8e;
  margin-top: 50px;
  font-family: Maladroit, sans-serif;
  font-size: 25px;
  line-height: 25px;
}

.image {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.header {
  z-index: 150;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.header_socials {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.tg {
  background-color: #004a15;
  background-image: url('../images/telegram.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border: 2px solid #000;
  border-bottom-width: 4px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  padding: 0;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
  display: flex;
}

.tg:hover {
  background-color: #288442;
  border-top-width: 4px;
  border-bottom-width: 2px;
}

.x {
  background-color: #004a15;
  background-image: url('../images/x.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 2px solid #000;
  border-bottom-width: 4px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  padding: 0;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
  display: flex;
}

.x:hover {
  background-color: #288442;
  border-top-width: 4px;
  border-bottom-width: 2px;
}

.menu_link {
  color: #09ca60;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 30px;
  padding: 0;
  font-family: Super Ocean Personal Use, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.menu_link:hover {
  color: #7dffb7;
}

.text-span {
  color: #58ff32;
}

.section_welcome {
  z-index: 1500;
  background-color: #00280e;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.h3 {
  color: #75ff56;
  font-family: Super Ocean Personal Use, sans-serif;
  font-size: 70px;
  line-height: 70px;
}

.continue {
  background-color: #004a15;
  border: 2px solid #000;
  border-bottom-width: 6px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0;
  font-family: Maladroit, sans-serif;
  font-size: 20px;
  display: flex;
}

.continue:hover {
  background-color: #288442;
  border-top-width: 6px;
  border-bottom-width: 2px;
}

@media screen and (max-width: 991px) {
  .logo_hero {
    width: 90%;
  }

  .splash_transition_hero {
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .h1 {
    font-size: 80px;
    line-height: 80px;
  }

  .block_para {
    width: 95%;
  }

  .chara_skate {
    height: 280%;
  }

  .tokenomics_block {
    width: 95%;
  }

  .chara_joiner {
    width: 90%;
    height: auto;
  }

  .menu_link {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .block_hero_chara {
    width: 90%;
    height: auto;
    margin-right: 0;
  }

  .logo_hero {
    margin-top: 200px;
  }

  .hero_transition {
    height: 30px;
  }

  .h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .para {
    font-size: 16px;
    line-height: 25px;
  }

  .block_skate {
    height: 150px;
  }

  .chara_skate {
    height: 300%;
  }

  .h2 {
    font-size: 16px;
    line-height: 16px;
  }

  .ca {
    font-size: 10px;
    line-height: 10px;
  }

  .header {
    justify-content: center;
  }

  .menu {
    display: none;
  }

  .header_socials {
    justify-content: center;
    align-items: center;
  }

  .h3 {
    font-size: 50px;
    line-height: 50px;
  }
}


@font-face {
  font-family: 'Maladroit';
  src: url('../fonts/maladroit.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Super Ocean Personal Use';
  src: url('../fonts/Super-Ocean-Personal-Use.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}